body {
	padding: 0;
	margin: 0;
}

#left, #svg {
	width: 50%;
	position: absolute;
	overflow: auto;
}

.big {
	font-size: 500%;
	font-weight: bold;
	font-family: monospace;
	position: relative;
	top: 10px;
	left: 15px;
}

#left   {
	height: 100%;
	left: 0;
	border-right: 2px solid black;
	margin-left: -2px;
	background: #abc;
}

#svg {
	height: 100%;
	width:  50%;
	right: 0;
	top: 0;
	background: #eef;
}

#output {
	margin: 0;
	padding: 20px;
	background: #abc;
}

form {
	padding: 20px;
	background: #cba;
	margin: 0;
	text-align: center;
}

form td {
	padding-right: 1em;
}

p input[type=text] {
	width: 60px;
}

h1 {
	text-align: center;
}

h1 input {
	font-size: 200%;
	width: 80%;
	text-align: center;
}
