body {
	padding: 0;
	margin: 0;
}

#left, #right {
	width: 50%;
	min-height: 100%;
	position: absolute;
}

#left  { left: 0; border-right: 2px solid black; margin-left: -2px; background: #abc; }
#right { right: 0; }

canvas {
	margin: 0;
	background: #eef;
	width: 100%;
	height: 100%;
}

#output {
	margin: 0;
	padding: 20px;
	background: #abc;
}

form {
	padding: 20px;
	background: #cba;
	margin: 0;
	text-align: center;
}

form td {
	padding-right: 1em;
}

p input[type=text] {
	width: 60px;
}

h1 {
	text-align: center;
}

h1 input {
	font-size: 200%;
	width: 80%;
	text-align: center;
}
